#octopus {
  positon:relative;
  margin-left: 40%;
  margin-right:35%;
  margin-top: 80px;
  z-index: 0;
}

#hat {
  position: absolute;
  top: 30px;
  left: 38.5%;
  z-index: 1;
}


#glasses {
  position: absolute;
  z-index:2;
  top:187px;
  left: 43.5%;
}


